<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.leapframework.org/schema/beans">

    <bean type="javax.sql.DataSource" class="leap.db.cp.PooledDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <property name="jdbcUrl"         value="${jdbc.url}" />
        <property name="username"        value="${jdbc.username}" />
        <property name="password"        value="${jdbc.password}" />
    </bean>

    <bean type="leap.web.api.log.LogManager" class="leap.web.api.log.DefaultLogManager" init-method="init"></bean>
    <bean type="leap.web.action.ActionInterceptor" class="leap.web.api.log.LogInterceptor"></bean>

    <import resource="beans_local.xml" check-existence="false"/>
</beans>