<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.leapframework.org/schema/config">

    <properties prefix="oauth2">
        <property name="enabled" value="false"/>
    </properties>

    <properties prefix="oauth2.server">
        <property name="enabled" value="true"/>
    </properties>


</config>