<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.leapframework.org/schema/beans">
    <bean type="app.beans.ListType" class="app.beans.LeapBean"/>

    <bean if="properties['tif.p1']"         class="app.beans.IfBean" name="if1"/>
    <bean if="config.getProperty('tif.p1')" class="app.beans.IfBean" name="if2"/>
    <bean if="properties['tif.p2']"         class="app.beans.IfBean" name="if3"/>
</beans>