<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.leapframework.org/schema/config">

	<base-package>tested.base</base-package>

    <import resource="../imp/imp.config.xml"/>

    <resources location="classpath:tested/**/*"/>

    <property name="testOrder.prop3" value="prop3_override" override="true"/>

    <if expr="true">
        <monitor enabled="true" report-error="true" report-args="true" report-line-number="true" method-threshold="10"/>
    </if>
</config>