<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.leapframework.org/schema/config">

	<base-package>tested</base-package>

    <import resource="../imp/imp.config.xml"/>
    
    <resources location="classpath:/tested/**/*"/>
    
    <properties>
        <property name="testConfigProperty" value="t"/>
        <property name="test.prop1" value="test.val1"/>
        <property name="test.prop2">
            test.val2
        </property>
        <property name="testNotExistPlaceholder" value="${notExistProperty}"/>
    </properties>
    
    <properties>
        <property name="test.prop3" value="test.val3"/>
    </properties>
    
    <properties prefix="test1">
    	<property name="prop1" value="test1.val1"/>
    </properties>
    
    <properties prefix="test2_">
    	<property name="prop1" value="test2.val1"/>
    </properties>
    
    <properties prefix="test3">
    	<property name="prop1" value="dup:abcd"/>
    </properties>

    <properties prefix="pbean">
        <property name="stringProperty1"  value="s1"/>
        <property name="stringProperty2"  value="s2"/>
        <property name="integerProperty1" value="1"/>
        <property name="integerProperty2" value="2"/>
        <property name="longProperty1"    value="11"/>
        <property name="longProperty2"    value="12"/>
        <property name="booleanProperty1" value="false"/>
        <property name="booleanProperty2" value="true"/>
        <property name="doubleProperty1"  value="1.1"/>
        <property name="doubleProperty2"  value="1.2"/>
    </properties>
    
    <permissions>
        <grant class="tested.perms.TestPermission" name="*" actions="create"/>
    </permissions>
    
    <config if-profile="production">
    	<properties>
    		<property name="testProfile.shouldNotExists" value="1"/>
    	</properties>
    </config>
    
    <config if-profile="development">
    	<properties>
    		<property name="testProfile.shouldBeExists" value="1"/>
    	</properties>
    </config>
    
</config>