<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.leapframework.org/schema/config" xmlns:el="http://www.leapframework.org/schema/el/config"
	xsi:schemaLocation="http://www.leapframework.org/schema/config http://www.leapframework.org/schema/config
	http://www.leapframework.org/schema/el/config http://www.leapframework.org/schema/el-config">

	<properties>
		<property name="debug-enabled" value="true"/>
	</properties>

    <!--
    <properties prefix="htpl">
        <property name="reload-enabled" value="false"/>
    </properties>
    -->

    <properties prefix="webassets">
        <property name="reloadEnabled" value="false"/>
    </properties>

    <properties prefix="webmvc">
        <property name="default-theme-name" value="test"/>
    </properties>

	<properties prefix="test">
        <property name="hello" value="hello world"/>
    </properties>
	
	<el:functions prefix="json" class="app.function.JsonFuncs">
		<el:function method="test(java.lang.String)"/>	
	</el:functions>

	
</config>