<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.leapframework.org/schema/beans">

    <bean type="javax.sql.DataSource" class="leap.db.cp.PooledDataSource" name="db1" primary="true" >
        <property name="driverClassName" value="org.h2.Driver" />
        <property name="jdbcUrl"         value="jdbc:h2:mem:db1;DB_CLOSE_ON_EXIT=FALSE" />
    </bean>

    <bean type="javax.sql.DataSource" class="leap.db.cp.PooledDataSource" name="db2">
        <property name="driverClassName" value="org.h2.Driver" />
        <property name="jdbcUrl"         value="jdbc:h2:mem:db2;DB_CLOSE_ON_EXIT=FALSE" />
    </bean>

    <bean  name="restapi1" class="leap.web.api.remote.ds.RestDataSource">
        <property name="endpoint" value="/{context}/api" />
    </bean>

</beans>