<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- do not add line number output , it will slow down the execution speed -->
			<pattern>%d{HH:mm:ss.SSS} [%thread] %level %C:%line - %msg%n</pattern>
		</encoder>
	</appender>

    <appender name="FILE_SLOW_REPORT" class="ch.qos.logback.core.FileAppender">
        <file>./target/slow_report.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_SLOW_REPORT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="applog.monitor.slow" level="INFO" additivity="false">
        <appender-ref ref="STDOUT_SLOW_REPORT"/>
        <appender-ref ref="FILE_SLOW_REPORT"/>
    </logger>

    <logger name="leap"   level="TRACE"/>
    <logger name="applog" level="DEBUG"/>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>