<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	
	<display-name>Archetype Created Servlet 3.0 Web Application</display-name>
	
    <filter>
    	<filter-name>app-filter</filter-name>
        <filter-class>leap.web.AppFilter</filter-class>
        <init-param>
            <param-name>base-package</param-name>
            <param-value>resapp</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>app-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>	
	
</web-app>