<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- do not add line number output , it will slow down the execution speed -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %level %C:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="leap" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>