<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.leapframework.org/schema/beans">

    <bean name="restd" type="javax.sql.DataSource" class="leap.db.cp.PooledDataSource">
        <property name="driverClassName" value="org.h2.Driver" />
        <property name="jdbcUrl"         value="jdbc:h2:./target/restd;DB_CLOSE_ON_EXIT=FALSE" />
        <property name="username"        value="sa" />
        <property name="password"        value="" />
    </bean>

    <import resource="beans_local.xml" check-existence="false"/>
</beans>