<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.leapframework.org/schema/config"
        xmlns:orm="http://www.leapframework.org/schema/orm/config">

    <properties prefix="orm">
        <property name="autoMappingTables" value="true"/>
    </properties>

    <orm:models datasource="restd">
        <orm:package name="app.models.restd"/>
        <orm:package name="app.models.pojo"/>
    </orm:models>

</config>