<!--@ layout=layouts/master  -->
<div ht-fragment="content" class="container">
    <h2>Owners</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 150px;">Name</th>
                <th style="width: 200px;">Address</th>
                <th style="width: 50px">City</th>
                <th>Telephone</th>
                <th style="width: 100px;">Pets</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ht-for="owner : owners">
                <td>
                    <a href="ownerDetails.html"
                       ht-href="/owners/${owner.id}/show" 
                       ht-text="${owner.firstName} ${owner.lastName}">Mary Smith</a>
                </td>
                <td ht-text="${owner.address}">45, Oxford Street</td>
                <td ht-text="${owner.city}">Cambridge</td>
                <td ht-text="${owner.telephone}">555-555-555</td>
                <td>
                	<!--
                    <span c:for="pet : ${owner.pets}" c:text="${pet.name}" th:remove="tag">
                       Rob&nbsp;
                    </span>
                    -->
                </td>
				<td>
					<a ht-href="/owners/${owner.id}/delete">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>    
</div>