<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.leapframework.org/schema/config">

    <additional-packages>
        tested.models
    </additional-packages>

    <properties prefix="jdbc">
        <property name="driverClassName">org.h2.Driver</property>
        <property name="url">jdbc:h2:./target/test;DB_CLOSE_ON_EXIT=FALSE</property>
        <property name="username">sa</property>
    </properties>

    <property name="oauth2.rs.rsaPublicKeyStr">
        MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDDASOjIWexLpnXiJNJF2pL6NzP
        fBoF0tKEr2ttAkJ/7f3uUHhj2NIhQ01Wu9OjHfXjCvQSXMWqqc1+O9G1UwB2Xslb
        WNwEZFMwmQdP5VleGbJLR3wOl3IzdggkxBJ1Q9rXUlVtslK/CsMtkwkQEg0eZDH1
        VeJXqKBlEhsNckYIGQIDAQAB
    </property>

</config>