<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.leapframework.org/schema/config">

    <properties prefix="oauth2">
        <property name="enabled"       value="true"/>
        <property name="server_url"    value="https://localhost:8443/server"/>
        <property name="client_id"     value=""/>
        <property name="client_secret" value=""/>
    </properties>

</config>