<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.leapframework.org/schema/beans">

    <bean type="leap.core.AppConfigLoader" class="tested.TestConfigLoader">
        <property name="prop1" value="value1"/>
    </bean>

    <bean type="leap.core.AppConfigLoader" class="leap.core.config.loader.JdbcConfigLoader">
        <property name="driverClassName" value="${h2.driverClassName}"/>
        <property name="jdbcUrl"         value="${h2.jdbcUrl}"/>
        <property name="username"        value="sa"/>
        <property name="sql">
            <value>
                select key_ key, value_ value from sys_config
            </value>
        </property>
    </bean>

</beans>